.inpt_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.inpt {
  font-size: 30px;
  text-align: center;
}
.btn {
  width: 376px;
  height: 40px;
  font-size: 30px;
  color: rgb(158, 139, 139);
  background-color: rgb(233, 205, 197);
}
.card {
  text-align: center;
}
.card-image {
  width: 200px;
}
.result {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
